doctype html
html
    head
        // main head
        include head
        // page head
        block head

        // main styles
        include styles
        // page styles
        block styles

body
    // header begins
    include navigation
    block header
    
    // body
    block body
    
    // footer begins
    block footer

    // main scripts
    include scripts
    // page scripts
    block scripts
