script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/raphael-min.js")
script(src="/js/raphael.free_transform.js")
script(src="/jwplayer/jwplayer.js")
script(src="/js/index.js")
