extends ../modules/layout

block styles
block scripts

block header
    .container

block body
    .container
        .row
            .col-md-6.col-sx-6#buttons
            | &nbsp;
        .row
            .col-md-6.col-sx-6
                .panel.panel-default
                    .panel-body#raphael(style="padding:0;")
                    
                        .row(style="position:absolute;top:0%; right:0%; margin-right:22px;")
                            button.btn.btn-danger.navbar-btn#remove 
                                span.glyphicon.glyphicon-remove
                            | &nbsp;
                            button.btn.btn-danger.navbar-btn#trash 
                                span.glyphicon.glyphicon-trash
                            | &nbsp;
                            button.btn.btn-success.navbar-btn#send
                                span.glyphicon.glyphicon-pencil
                    
            .col-md-4.col-sx-4
                .panel.panel-default
                    .panel-body
                        #video1
                        | &nbsp;
                        #video2

            .col-md-1.col-sx-1#queue(style="max-height:512px;overflow-y:auto;")
                //- .panel.panel-default
                //-     .panel-body
                //-         | queue
                //- each val, i in tasks
                //-     svg.img-thumbnail(with="64", height="64", viewBox="0,0,512,512")
                //-         path(d="#{JSON.parse(val).shapes}", stroke="#000", fill="none", stroke-width="10")

            //- .col-md-1.col-sx-1
            //-     button.btn.btn-default 
            //-         span.glyphicon.glyphicon-facetime-video
            //-         |&nbsp; 1 
            //-     button.btn.btn-default
            //-         span.glyphicon.glyphicon-facetime-video
            //-         |&nbsp; 2 
            //-     button.btn.btn-default
            //-         span.glyphicon.glyphicon-facetime-video
            //-         |&nbsp; 2 



block footer
    .container
