extends ../modules/layout

block styles
block scripts

block header
    .container

block body
    .container
        .row
            h1 Рисующий робот   
        .row
            .col-md-1.col-sx-1#buttons


            .col-md-6.col-sx-6
                .well#raphael(style="padding:0;")
                    
            .col-md-4.col-sx-4
                .well
                    object#rtmpPlayer(data='/rtmpPlayer.swf', type='application/x-shockwave-flash', width='320', height='240')
                        param(value='false', name='menu')
                        param(value='noScale', name='scale')
                        param(value='true', name='allowFullscreen')
                        param(value='always', name='allowScriptAccess')
                        param(value='#000000', name='bgcolor')
                        param(value='high', name='quality')
                        param(value='opaque', name='wmode')
                        // To play flv over RTMP without preview
                        param(value='source=video&server=rtmp://vs43.ailove.ru:1935/webcam/video2.flv', name='flashvars')
            .col-md-1.col-sx-1
                button.btn.btn-default 1
                button.btn.btn-default 2
                button.btn.btn-default 3

block footer
    .container
